* {
    padding: 0;
    margin: 0;
    border: none;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fafafa;
}

article {
    display: flex;
    width: 935px;
    height: 637px;
}

article .image {
    width: 400px;
    height: 637px;
}

article .image img {
    width: 650px;
}

article .profile {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 500px;
    height: 637px;
}

article .profile .box {
    display: flex;
    background-color: white;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: solid 1px #dbdbdb;
    width: 350px;
    height: 350px;
}

article .profile img {
    width: 180px;
}

article .profile .box .profile-photo img {
    border-radius: 100%;
    margin: 20px 0;
    width: 115px;
    height: 115px;
}

article .profile a {
    text-decoration: none;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

article .profile .box .btn {
    background-color: #0095f6;
    border-radius: 4px;
    color: white;
    padding: 7px 25px;
    margin: 25px 0;
}

article .profile .box p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

article .profile .box .changeAccount {
    color: #0095f6;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 40px 0 60px 0;
}

footer a,
span {
    text-decoration: none;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    color: #8e8e8e;
    margin-right: 15px;
}

footer .copyrignt {
    margin-top: 10px;
}

