* {
    padding: 0;
    margin: 0;
    border: none;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fafafa;
}

article {
    display: flex;
    width: 935px;
    height: 637px;
}
